/* navbar */
.nav-white {
    background-color: #0D0D0D;
    color: #FFFFFF !important;
}
.nav-white a, .nav-white input::placeholder {
    color: #FFFFFF;
}
.nav-white input[type="text"], .nav-white input::placeholder {
   background-color: #0D0D0D;
   color: #FFFFFF;
}


/*container*/
.container {
    position: absolute;
    left: 472px;
    top: 156px;
    width: 456px;
    height: 318px;
    padding: 35px 34px;
    position: relative; /*for forgot pw*/
}
h2 {
    margin-bottom: 8px;
}
.loginTo{
    color: #A9ABBD;
    margin-bottom: 14px;
}
.login-options {
    padding-bottom: 52px;
}
.login-options input:not(#rememberMe) {
    width: 398px;
    height: 40px;
    margin-bottom: 10px;
    padding: 11.5px 16px;
    border: .5px solid #000000;

}
.login-options input::placeholder {
    color: #A9ABBD;
    font-size: 14px;
}

.login-options input:focus:not(input[type="checkbox"]){
    outline: none;
    box-shadow: 0 0 2px #000000;
}
.forgotPW {
    position: absolute;
    left: 320px;
    font-weight: 700;
    text-decoration: none;
}
.forgotPW, .custom-checkbox {
    color: #979797;    
    font-size: 14px;
}
.custom-checkbox {
    margin-top: 20px;
}
.createAcc {
    padding-top: 28px;
    display: block;
    text-align: center;
    color: #A9ABBD;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
.createAcc span {
    font-weight: 700;
}